body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.topbar {
  flex: 0 1 auto;
  margin: 0;
  padding: 1px;
  background-color: #e5e5e5;
}

.topbar > * {
  float: left;
}

.topbar > button, .topbar > div > button  {
    flex-grow: 1;
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
    border: 0px;
  background-color: #898989;
  
}


.topbar > button:hover, .topbar > div > button:hover {
  background-color: #C6C6C6;
}

.topbar > button:active, .topbar > div > button:active {
  background-color: #929292;
}

.captureControl {
  background-color: #bababa;
  border-radius: 10px;
}

.captureControl > .triggerStatus {
  padding: 5px;
}



.main {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
}

.plot {
  flex: 1;
  margin: 0;
  padding: 0;
  background-color: rgb(27, 27, 27);
}




.side {
  flex: 0 1 auto;
  margin: 0;
  background-color: #696969;
  width: 150px;
}



.HoverBox {
  z-index: 10; 
  position: absolute; 
  top: 0px; 
  right: 0px;
  margin: 5px;
};

.horizontalCursor {
  background-color: red;
  border: 1px solid red;
  z-index: 9;
  position: absolute;
}