.ChannelControl {
    margin: 5px;
}

.ChannelControl > .topBar {
    border-radius: 10px 10px 0px 0px;
    font-size: 120%;
    padding: 3px;
    display: flex;
  }


.topBar > .name {
    flex-grow: 1;
}

.ChannelControl > .content {
    background-color: #D9D9D9;
    padding: 3px;
    margin: 0px;
    border-radius: 0px 0px 10px 10px;
}
