.ChannelPicker {
    display: flex;
    align-items: stretch;
    width: 100%;
  }
  
  
  .ChannelPicker > button {
    flex-grow: 1;
    border-radius: 10px;
    margin: 3px;
    border: 0px;
  background-color: #898989;
  
  }
  
  .ChannelPicker > button:hover {
    background-color: #C6C6C6;
  }
  
  .ChannelPicker > button:active {
    background-color: #FFFFFF;
  }
  
  