.floating {
    position: absolute;
    top: 23px;
    right: 150px;
    width: 100px;
    margin: 5px;
    padding: 5px;
    background-color: #D9D9D9;
    border-radius: 5px;
}

.floating > div {
    padding: 3px;
}