.SideMenu button {
    width: 100%;
    border-radius: 10px;
    border: 0px;
    font-size: 100%;
  background-color: #898989;
  
  }
  
  .SideMenu button:hover {
    background-color: #C6C6C6;
  }
  
  .SideMenu button:active {
    background-color: #FFFFFF;
  }
  
  