.ValueBox {
margin: 0px;
}

.data {
display: flex;
}


.data > .name {
  width: 50%;
}

.buttons {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.data > .value {
  width: 50%;
  text-align: right;
}

.buttons > button {
  flex-grow: 1;
  border-radius: 10px;
  margin: 3px;
  border: 0px;
background-color: #898989;

}

.buttons > button:hover {
  background-color: #C6C6C6;
}

.buttons > button:active {
  background-color: #FFFFFF;
}





